@if (User.Identity.IsAuthenticated)
{
  <div class="container">
  @Html.ActionLink("Homepage", "Index", "Home")

  @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-default" value="Log out" />
    }
  </div>
}
else if (User.Identity.IsAuthenticated == false)
{
  <div class="container">
  @Html.ActionLink("Home", "Index", "Home")
</div>
}