@{ Layout = "_Layout"; }

@model PierresTreats.Models.Flavor

<h3>Add a new treat</h3>

@using (Html.BeginForm())
{
  <p>
    @Html.LabelFor(treat => treat.Type)
    @Html.EditorFor(treat => treat.Type)
  </p>

  <p><input type="submit" value="Add flavor" /></p>
}